@import 'tailwindcss';

@theme {
  --color-blue-base: #7c3aed;
  --color-blue-dark: #6d28d9;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdceda;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;
  --color-danger: #b12c4d;

  --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-200 text-gray-600 font-sans antialiased;
  }
}
